
.translator-container {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.translator-container textarea {
    width: calc(100% - 20px);
    height: 100px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}

.dropdown-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.translator-container select {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color : black
}

.translator-container select option {
    color: black; 
    background-color: white; 
}

.translator-container button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.translator-container button:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    margin-top: 10px;
}

.translated-text-container {
    margin-top: 20px;
}
